<%- include("partials/header"); -%>
    <h1>Team</h1>
    <p> <%= teamContent %> </p>

 
              <h3>CIL Oguzhan</h3>
            
            <img src="views\images\CIL.jpg" alt="">
            <p class="service-text">
                Cil studies economics in Netherlands and works parttime in the security sector. 
            </p>
         <hr>

              <h3>Stanil Temelkov</h3>
            <img src="views\images\Stan.jpg" alt="">
              Stan studies Business information technology in Basel Switzerland and works in project management. 
            </p>
            <hr>
          
              <h3>Martijn Roozendaal</h3>
            <img src="views\images\Martjin.jpeg" alt="">
            <p class="service-text">
                Martijn Is a classmate of Cil and studies economics in netherlands aswell. 
            </p>
            <hr>
<%- include("partials/footer"); -%>
